* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(235, 200, 206); */
  background-color: rgb(249, 221, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: rgb(206, 137, 147);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: rgba(0, 0, 0, 0.75);
}

.todo-input::placeholder {
  color: #0f0b0b4d;
}

.todo-btn {
  background: rgb(172, 91, 103);
  color: rgba(0, 0, 0, 0.75);
  border: none;
  padding: 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(172, 91, 103);
  color: rgba(0, 0, 0, 0.75);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.completed {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
